<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-cloak> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
 
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Врехняя штука -->
 <md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate style="position: absolute; left: 90px; right: 200px; top: 13px; bottom: 13px;"></md-truncate>
        <h1>Футбольный клуб "Евген"</h1>
        <span flex=""></span>
        <md-button class="md-raised" aria-label="Learn More" style="position: relative; left: -50px;" href="https://vk.com/fcevgenn">
          Мы в VK
        </md-button>
      </div>
    </md-toolbar>


  <!-- Окошечки -->
  <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom=""
    style="position: relative;">
      <md-tab label="Главная">
        <md-content class="md-padding">
        <img src="https://pp.userapi.com/c622527/v622527357/563f9/ppszS3c6MfY.jpg" style="position: relative;left: 500px;
        width: 225px;height: 300px;">
          <h1 class="md-display-2"
          style="position: relative;
          top: -300px; ">FC "EVGEN"</h1>
          <h2 style="position: relative; top: -300px;
          ">Вперед Евген,</h2>
          <h2 style="position: relative; top: -300px;">Вперед родной,</h2>
          <h2 style="position: relative; top: -300px;">Мы за тебя стоим стеной!</h2>
          <h3 style="position: relative;top: -250px;">Футбольный клуб "Евген" под руководством главного тренера Гатиятуллина Карима!</h3>
          <h3 style="position: relative; top: -250px;">Любительский футбольный клуб.</h3>
          <h3 style="position: relative; top: -250px;">Была основана в 2015 году и начала стремительный рост. На данный момент в команде 8 игроков.</h3>
          <h3 style="position: relative; top: -250px;">Место проведение тренировок: Спортивный зал "УНИКС"</h3>
        </md-content>
      </md-tab>
      <md-tab label="Команда">
        <md-content class="md-padding">
          <h1 class="md-display-2"
          style="position: relative;
          top: 0px; ">Команда / Состав</h1>
          <h2>Действующий Капитан: Николаев Евгений №7</h2>
          <img src="https://pp.userapi.com/c836132/v836132063/4347e/Uh9qL24V9qM.jpg" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/karimgat">
          Гатиятуллин Карим (Вратарь) №23</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/id100480404">Нигматзянов Адэль (Защитник) №13</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/id183317886">Панушкин Анатолий (Защитник) №1</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/timkabag00">Багаутдинов Тимур (Полузащитник) №17</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/kargin2013">Каргин Адель (Полуащитник) №4</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/id146073357">
          Николаев Евгений (Нападающий) №7</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/shanya_semenovich">Шанин Семён (Нападающий) №9</a>
          <br>
          <br>
          <img src="" style="position: relative; width: 225px;height: 300px;">
          <br>
          <a href="https://vk.com/andrey7326">Саетгараев Андрей (Нападающий) №11</a>
        </md-content>
      </md-tab>
      <md-tab label="Новости">
        <md-content class="md-padding">
          <h1 class="md-display-2">Последнии новости</h1>
          <h3>1. Футбольный клуб "Евген" одерживает победу в своем первом матче над ФК "Артери" со счётом 7-5.(17.12.2016)</h3>
          <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom=""style="position: relative;">
              <md-tab label="Подробнее">
                <md-content class="md-padding">
                <h3>Футбольный клуб "Евген" одерживает победу в своем первом матче над ФК "Артери" со счётом 7-5.</h3>
                <p>"Когда мы пришли на поле, наш настрой был крайне подавленным. Мы увидели противников и в один момент подумали, что победу нам не одержать. Несмотря на это, мы показали, на что мы способны, и выиграли этот тяжелейший матч. Победа далась нам крайне нелегко, но мы все-таки сделали это. Горжусь ребятами! Отдельное спасибо фанатам, они были словно еще один игрок на поле."-на радостях рассказал в послематчевом интервью газете "Двор-Экспресс" вратарь команды Карим Гатиятуллин.</p>
                <p>"Сыграли отлично. Я горжусь командой, верил в ребят с начала матча и до его конца."-выразил своё мнение журналистам менеджер команды Эрнест Эсселевич.</p>
                </md-content>
              </md-tab>
              <md-tab label="Фото">
                <md-content class="md-padding">
                <img src="https://pp.userapi.com/c626730/v626730063/38675/FvWx64kVKyE.jpg" style="position: relative; width: 625px;height: 300px;">
                </md-content>
              </md-tab>
              </md-tabs>
            </md-content>
            </div>  
          <h3>2. Официально: Адель Каргин в ФК "Евген".(19.12.2016)</h3>
          <md-button style="position: relative;
          background-color: ;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>3. ФК "Евген" приступил к новому плану тренировок, кодовое название- "ВЫХУХОЛЬ".(05.10.2015)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>4. Главный тренер ФК "Евген" Карим Гатиятуллин: "Нам есть к чему стремиться."(23.07ю2016)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>5. Капитан ФК "Евген" Евгений Николаев травмирован.(07.04.2016)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>6. Евгену- быть?(26.01.17)</h3>
          <md-button style="position: relative;
          background-color: " class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>7. Тяжелые времена для "Евген".(25.11.2015)</h3>
          <md-button style="position: relative;
          background-color: " class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>8. Главный тренер ФК "Евген" и основной вратарь клуба Семен Шанин находятся на съезде руководств разных клубов.(18.11.2015)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>9. У "Евгена" будет новый спонсор?(17.10.2015)</h3>
          <md-button style="position: relative;
          background-color: " class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>10. Карим Гатиятуллин: "Команда готова к переходу на уровень выше.(12.10.2015)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>11. Тимур Абдуллин был травмирован во время сегодняшней тренировки.(22.09.2015)</h3>
          <md-button style="position: relative;
          background-color: " class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>12. ФК "Евген" провел вторую тренировку на своей тренировочной базе "УНИКС".(22.09.2015)</h3>
          <md-button style="position: relative;
          background-color:" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>13. Карим Гатиятуллин: "Команда в хорошей форме, но нет предела совершенству".(18.09.2015)</h3>
          <md-button style="position: relative;
          background-color:;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>14. Официально: Контракты с ранее заявленными игроками подписаны.(16.09.2015)</h3>
          <md-button style="position: relative;
          background-color: ;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>15. Карим Гатиятуллин: "Я возвращаюсь на поле? Слухи."(15.09.2015)</h3>
          <md-button style="position: relative;
          background-color: ;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>16. Главный тренер ФК "Евген" возобновляет карьеру игрока!(14.09.2015)</h3>
          <md-button style="position: relative;
          background-color: ;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
          <h3>17. ФК "Евген" подписал Евгения Николаева.(14.09.2015)</h3>
          <md-button style="position: relative;
          background-color: ;" class="md-primary md-raised" ng-click="showAlert($event)">Подробнее</md-button>
        </md-content>
      </md-tab>
      <md-tab label="Контакты">
        <md-content class="md-padding">
          <h1 class="md-display-2">Контакты</h1> 
          <h3>Главный тренер клуба: </h3>
          <a href="https://vk.com/karimgat">Гатиятуллин Карим</a>
          <h3>Офис клуба: Ул.Рахматуллина 2/18</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0135348769477!2d49.1121890162606!3d55.793002880564124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead17ab818555%3A0xadf3bb854e53ad9c!2z0YPQuy4g0KDQsNGF0LzQsNGC0YPQu9C70LjQvdCwLCAyLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDExMQ!5e0!3m2!1sru!2sru!4v1489159349828" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <h3>Стадион клуба: Ул.</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.1244707470064!2d49.12283298003149!3d55.79079537770713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f16e38dbc15e41a!2z0JrQodCaINCa0KTQoyAi0KPQndCY0JrQoSI!5e0!3m2!1sru!2sru!4v1489159457265" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </md-content>
      </md-tab>
        <md-tab label="Заявка">
          <md-content class="md-padding">
          <h1 class="md-display-2">Оставте заявку</h1>
          <h2>Хотите стать членом клуба?</h2>
          <h2>Напишите нашему тренерну Гатиятуллину Кариму</h2>
          <md-button class="md-primary md-raised" ng-click="showAlert($event)" style="position: relative; top: 0px; left: 50px;" href="https://vk.com/karimgat">Написать</md-button>

           </md-content>
        </md-tab>    
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial']);

    angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])

.controller('AppCtrl', function($scope) {
  $scope.imagePath = 'img/washedout.png';
})
.config(function($mdThemingProvider) {
  $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
  $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
  $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
  $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
});




angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);



  </script>
  
</body>
</html>




